@page
@model Posts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "/Areas/Admin/Pages/Posts/_PostLayout.cshtml";
}

<h2>Create a Post</h2>

@await Html.PartialAsync("_postForm", Model.Post)
