@page "{tag}"
@model Tags.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tag @Model.Tag</h4>
    <hr />
    <form method="post">
        <input type="hidden" asp-for="Tag" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>