@page "{username}"
@model Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Input.UserName" />
            <div class="form-group">
                <label asp-for="Input.DisplayName"></label>
                <input asp-for="Input.DisplayName" class="form-control" />
                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CurrentPassword"></label>
                <input asp-for="Input.CurrentPassword" class="form-control" />
                <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.SelectedRole" class="control-label"></label>
                <select asp-for="Input.SelectedRole" asp-items="@Model.Input.Roles" class="form-control">
                    <option value="">-- Select Role --</option>
                </select>
                <span asp-validation-for="Input.SelectedRole" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
