@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";

    ViewBag.IsIndex = true;
}

<h2>Home Page</h2>

@{
    var count = 1;
    var total = Model.Posts.Count;
}
@foreach (var post in Model.Posts)
{
    @await Html.PartialAsync("_RenderPost", post)

    @if (count < total)
    {
        <hr />
    }

    count++;
}

@if (Model.PreviousPage > 0)
{
    <a asp-page="/Index" asp-route-pageNumber="@Model.PreviousPage" class="btn btn-primary">
        Previous Page
    </a>
}

@if (Model.NextPage > -1)
{
    <a asp-page="/Index" asp-route-pageNumber="@Model.NextPage" class="btn btn-primary">
        Next Page
    </a>
}