@page "{tagId}"
@model TagModel
@{
    ViewData["Title"] = "Tag";

    ViewBag.IsIndex = true;
}

<h2>Posts Tagged with #@Model.TagName</h2>

@{
    var count = 1;
    var total = Model.Posts.Count;
}
@foreach (var post in Model.Posts)
{
    @await Html.PartialAsync("_RenderPost", post)

    @if (count < total)
    {
        <hr />
    }

    count++;
}