@page "{postId}"
@model Posts.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "/Areas/Admin/Pages/Posts/_PostLayout.cshtml";
}

<h2>Edit</h2>

@await Html.PartialAsync("_postForm", Model.Post)
